<footer class="bg--dark footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a href="#">
                  <img alt="Bachelor Party Sofia" class="logo" src="assets/img/logo.png">
                </a>
                <p>
                    <em>100% LOCAL TEAM</em><br/>

                    FULL SERVICE IN SOFIA<br/>
                    MULTILINGUAL GUIDES<br/>
                    WE HANDLE EVERYTHING FOR YOU<br/>
                </p>
            </div>
            <div class="col-md-5 col-sm-8">
                <h6>Navigate</h6>
                <ul class="footer__navigation">
                    <li>
                        <a href="#"><span>About Us</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Services</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Selected Work</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Get In Touch</span></a>
                    </li>
                </ul>
                <ul class="footer__navigation">
                    <li>
                        <a href="#"><span>Planner</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Careers</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Terms of Service</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h6>Subscribe</h6>
                <p>Get monthly updates and free resources.</p>
                <form action="http://mrareco.createsend.com/t/d/s/kieth/" class="form--merge form--no-labels" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email." id="subForm" method="post" name="subForm">
                    <p><label for="fieldEmail">Email Address</label><br>
                    <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" required="" type="email"></p>
                    <p><button type="submit">Go</button></p>
                </form>
            </div>
        </div>
        <div class="row footer__lower text-center-xs">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-6">
                <span class="type--fine-print">COPYRIGHT © <span class="update-year">2019</span> BACHELOR PARTY SOFIA
                MADE WITH ♥ IN BULGARIA</span>
                
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list">
                    <li>
                        <a href="#"><i class="socicon-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-vimeo"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>