<div class="text-center">
  <div *ngIf="getCartSize() === 0; else shoppingCartList">
    <h2>There are no activities in your shopping cart yet.</h2>
    <h4 class="text-muted">You can add some from <a routerLink="/activities">here</a>.</h4>
  </div>

  <ng-template #shoppingCartList>
    <h2>Activities in your shopping cart: </h2>

    <div *ngIf="!canRequestQuotation(); else quotationNotSent">
      <h4 class="text-muted">Quotation request sent to <pre>{{ getQuotationSentFromEmail() }}</pre></h4>
    </div>

    <ng-template #quotationNotSent>
      <button type="button" class="btn btn-md btn-info" (click)="toggleQuotationForm()" [disabled]="!canRequestQuotation()">
        Request a quotation
      </button>
      <button type="button" class="btn btn-md btn-warning text-white" (click)="emptyCart()">
        Empty shopping cart
      </button>

      <div *ngIf="quotationFormVisible" class="row">
        <div class="col-md-6 offset-md-3">
          <app-request-quotation></app-request-quotation>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <table class="table">
        <caption>For a group of {{ getGroupSize() }} people</caption>
        <thead class="thead-light">
          <tr>
            <th scope="col">Activity</th>
            <th scope="col">Time type</th>
            <th scope="col">Duration (in hours)</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
            <th scope="col" *ngIf="canRequestQuotation()"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of shoppingCartActivities">
            <th scope="row"><a routerLink="/activities/{{ activity.id }}">{{ activity.title }}</a></th>
            <td>{{ activity.time_type }} </td>
            <td>{{ activity.duration }}</td>
            <td>
              {{ activity.price.amount | currency }}
            </td>
            <td>
              {{ activity.price.options }}
            </td>
            <td *ngIf="canRequestQuotation()">
              <button (click)="modifyCart(activity)" class="btn btn-danger btn-sm">Remove</button>
            </td>
          </tr>

          <tr class="bg-info">
            <th scope="row">Total</th>
            <th></th>
            <th>{{ getTotalDuration() }}</th>
            <th>{{ getTotalPrice() | currency }}</th>
            <th></th>
            <th *ngIf="canRequestQuotation()"></th>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
