<div class="text-center">
  <div *ngIf="getCartSize() === 0; else shoppingCartList">
    <h2>There are no activities in your shopping cart yet.</h2>
    <h4 class="text-muted">You can add some from <a routerLink="/activities">here</a>.</h4>
  </div>

  <ng-template #shoppingCartList>
    <h2>Activities in your shopping cart: </h2>
    <h6 class="text-muted">(For a group of {{getGroupSize()}} people)</h6>

    <button type="button" class="btn btn-warning" (click)="emptyCart()">Empty shopping cart</button>

    <div class="row">
      <div *ngFor="let activity of shoppingCartActivities" class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/activities/{{activity.id}}">{{activity.title}}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{activity.subtitle}}</h6>

            <button (click)="modifyCart(activity)" class="btn btn-danger btn-sm">Remove from cart</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
