<div class="row">
  <h2 class="center">{{activityFormLabel}}</h2>
  <form [formGroup]="activityForm" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" formControlName="title" name="title" class="validate" id="title">
        <label for="title">Title:</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text" formControlName="subtitle" name="subtitle" class="validate" id="subtitle">
        <label for="subtitle">Subtitle:</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea formControlName="details" name="details" class="materialize-textarea" id="details"></textarea>
        <label for="details">Details:</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <input type="number" formControlName="duration" name="duration" class="validate" id="duration">
        <label for="duration">Duration:</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select formControlName="time_type" id="time_type" >
          <option value="day">By Day</option>
          <option value="night">By Night</option>
        </select>
        <label for="time_type">Type</label>
      </div>
    </div>

    <p>
      <input type="checkbox" formControlName="transfer_included" name="transfer_included" id="transfer_included">
      <label for="transfer_included">Transfer</label>
    </p>

    <p>
      <input type="checkbox" formControlName="guide_included" name="guide_included" id="guide_included">
      <label for="guide_included">Guide</label>
    </p>
  
    <div formArrayName="prices_attributes">
      <ng-container *ngFor="let price of activityForm.get('prices_attributes').controls; index as i">
        <div>
          <label>Price {{i + 1}}</label>
          <a class="btn-floating btn red right" (click)="removePriceInput(i)">X</a>
        </div>
        
        <div class="row" [formGroupName]="i">
          <div class="row">
            <div class="input-field col s12">
              <input type="number" formControlName="amount" name="amount" class="validate" id="amount">
              <label for="amount">Amount:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" formControlName="options" name="options" class="validate" id="options">
              <label for="options">Options:</label>
            </div>
          </div>
        </div>
      </ng-container>

      <a class="waves-effect waves-light btn" (click)="addPriceInput()"><i class="material-icons left">add</i>Add Prices</a>
    </div>
    
    <button class="waves-effect waves-light btn" [disabled]='activityForm.invalid' *ngIf="isCreate" (click)="onSubmit()">Create</button>  
    <button class="waves-effect waves-light btn" [disabled]='activityForm.invalid' *ngIf="!isCreate" (click)="onUpdate()">Update</button>
  </form>
</div>