<div class="container">
  <div class="row">
    <a routerLink="/activities">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="now-ui-icons objects_spaceship"></i> Activities</h5>
        </div>
      </div>
    </a>
  
    <a routerLink="/quotations">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="now-ui-icons education_paper"></i> Quotations</h5>
        </div>
      </div>
    </a>
  
    <a routerLink="/users">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="now-ui-icons users_single-02"></i> Users</h5>
        </div>
      </div>
    </a>

    <a routerLink="/parties">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="now-ui-icons clothes_tie-bow"></i> Parties</h5>
        </div>
      </div>
    </a>
  </div>
</div>