<div class="container">
  <div class="row">
    <a routerLink="/activities">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Activities</h5>
        </div>
      </div>
    </a>
  
    <a routerLink="/quotations">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="now-ui-icons education_paper"></i>Quotations</h5>
        </div>
      </div>
    </a>
  
    <a routerLink="/users">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
        </div>
      </div>
    </a>
  </div>
</div>