<div class="modal-header">
  <h4 class="modal-title">Group size must be entered before continuing: </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="groupSizeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Group size" formControlName="groupSize" ngbAutoFocus />

      <button type="submit" class="btn btn-success btn-round" [disabled]="!groupSizeForm.valid">Proceed</button>
    </div>
  </form>
</div>
