<h1>{{ quotations ? 'Available quotations:' : 'Loading quotations...' }}</h1>

<div class="row mt-5">
  <div class="col-md-6 col-sm-3">
    <ng-container *ngFor="let quotation of quotations">
      <a routerLink="/quotations/{{ quotation.id }}">
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">User email: {{ quotation.user_email }}</p>
            <p class="card-text">Group size: {{ quotation.group_size }}</p>
            <p class="card-text">Activities chosen: {{quotation.activities.length}} </p>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>