<div class="container">
    <form [formGroup]="loginForm" class="form">
        <div class="row">
          <div class="col-sm-4 offset-sm-4">
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              
              <div class="col-sm-10">
                <input id="login" type="email" placeholder="Email" formControlName="login" name="login" class="validate form-control" required>
      
                <div class="alert alert-danger" *ngIf="loginForm.get('login').hasError('required') && loginForm.get('login').touched">  
                  Email is required.
                </div>
      
                <div class="alert alert-danger" *ngIf="loginForm.get('login').hasError('email') && loginForm.get('login').touched">  
                  Email must be valid!
                </div>
              </div>
            </div>
          
            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
              
              <div class="col-sm-10">
                <input id="password" type="password" placeholder="Password" formControlName="password" name="password" class="validate form-control" required>
      
                <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">  
                  Password is required.
                </div>
              </div>
            </div>
          
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" [disabled]='loginForm.invalid' (click)="onSignInSubmit()">Login</button>
              </div>
            </div>
          
            <span>
              Need an account? <a routerLink="/register">Click here to register.</a>
            </span>
          </div>
        </div>
      </form>
</div>