<div *ngIf="activityIsInCart(); else addActivityBlock">
  <button type="button" (click)="modifyCart()" class="btn btn-danger btn-round">
    <i class="now-ui-icons ui-1_simple-delete"></i>
    Remove from cart &middot; {{ selectedPrice.amount | currency }}
    <span *ngIf="selectedPrice.options"> ({{ selectedPrice.options }})</span>
  </button>
</div>

<ng-template #addActivityBlock>
  <button type="button" class="btn btn-success btn-round" (click)="modifyCart()">
    <i class="now-ui-icons ui-1_simple-add"></i>
    Add to cart &middot; {{ selectedPrice.amount | currency }}
    <span *ngIf="selectedPrice.options"> ({{ selectedPrice.options }})</span>
  </button>
</ng-template>
