<section class="imagebg height-60 parallax" data-overlay="8">
  <div class="background-image-holder">
      <img alt="image" src="assets/img/hero4.jpg">
  </div>
  <div class="container pos-vertical-center">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1>Bachelor Party Sofia</h1>
              <p class="lead">Stag Do Weekends in Bulgaria</p>
          </div>
      </div>
  </div>
</section>
  
<section class="bg--dark section--even">
  <div class="container">
      <div class="row">
          <div class="col-sm-10">
              <h6>Who are we?</h6>
              <p class="lead">
                We are Bachelor Party Sofia and we are the local agency organizing Stag do parties in Sofia and Bulgaria. 
                We have the most activities (more than 80) and some of them are 100% exclusive. 
                Forget the planning, we take care of everything.
              </p>
          </div>
      </div>
  </div>
</section>
  
<section class="process-1 section--overlap">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-sm-8 col-sm-offset-2 text-center col-md-3">
                <div class="piechart piechart-2" data-size="260" data-value="33">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase One:</h6>
                            <span class="h4">Pick Activities</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-Fingerprint-2"></i>
                    <h5>Lorem ipsum</h5>
                    <p>Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Check-2"></i>
                    <h5>Lorem ipsum</h5>
                    <p>Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="process-1 bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-sm-8 col-sm-offset-2 text-center col-md-5">
                <div class="piechart piechart-2" data-size="260" data-value="66">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Two:</h6>
                            <span class="h4">Check Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-Code-Window"></i>
                    <h5>Lorem ipsum</h5>
                    <p>Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Loop"></i>
                    <h5>Lorem ipsum</h5>
                    <p>Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="process-1 process-end">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-sm-8 col-sm-offset-2 text-center col-md-3">
                <div class="piechart piechart-2" data-size="260" data-value="100">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Three:</h6>
                            <span class="h4">Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Box-Open"></i>
                    <h5>Lorem ipsum</h5>
                    <p>Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="space--0">
    <div class="slider" data-items="4" data-paging="true" data-arrows="true">
        <ul class="slides">
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work6.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>iOS Application</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work2.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Branding &amp; Identity</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work7.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Branding Collateral</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work5.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Packaging Design</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work10.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Logo Design</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work12.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Apple Watch Application</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work17.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Product Packaging</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/work15.jpg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Lorem ipsum</h5>
                                <span>
                                    <em>Branding &amp; Identity</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
        </ul>
    </div>
</section>
