<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center" routerLink="">{{ title }}</a>

    <ul class="left hide-on-med-and-down">
      <li><a routerLink="/activities">Activities</a></li>

      <ng-container *ngIf="(authService.userSignedIn$ | async)">
        <ng-container *ifInRole="'admin'">
          <li><a routerLink="/admin">Admin</a></li>
          <li><a routerLink="/quotations">Quotations</a></li>
        </ng-container>
      </ng-container>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/cart">
          Shopping cart: {{ getCartSize() }} ({{ getGroupSize() }} people)
        </a>
      </li>

      <ng-container *ngIf="(authService.userSignedIn$ | async); else anonymousUserNav">
        <li><a routerLink="/" (click)="logOut()">Logout</a></li>
      </ng-container>

      <ng-template #anonymousUserNav>
        <li><a routerLink="/login">Login</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
