<div class="nav-container">
  <nav>
    <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="700">
      <div class="nav-module logo-module left">
          <a href="index.html">
            <img alt="logo" class="logo logo-dark" src="assets/img/logo.png">
            <img alt="logo" class="logo logo-light" src="assets/img/logo.png">
          </a>
      </div>
      <div class="nav-module menu-module left">
          <ul class="menu">
              <li>
                  <a routerLink="/activities">Activities</a>
              </li>

              <li *ngIf="(authService.userSignedIn$ | async)">
                <ul>
                  <li *ifInRole="'admin'">
                    <a routerLink="/admin">Admin panel</a>
                  </li>

                  <li>
                    <a routerLink="/parties">Parties</a>
                  </li>
                </ul>
              </li>
          </ul>
      </div>

      <div class="nav-module right">
        <a routerLink="/cart" class="nav-function" data-notification-link="cart-overview">
          <i class="interface-bag icon icon--sm"></i>
          <span>{{ getCartSize() }} items</span>
        </a>
      </div>

      <div class="nav-module right">
        <ng-template *ngIf="(authService.userSignedIn$ | async); else anonymousUserNav">
          <a routerLink="/" (click)="logOut()" class="nav-function">Logout</a>
        </ng-template>
  
        <ng-template #anonymousUserNav>
          <a routerLink="/login" class="nav-function">
            <i class="icon icon-Beard-3"></i>
            <span>Login</span>
          </a>
        </ng-template>
      </div>
    </div>

    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
  </nav>
</div>
