<h1>Available activities: </h1>

<div class="row">
  <div *ngFor="let activity of activities" class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{activity.title}}</h5>
        <p *ngIf="activity.details" class="card-text">
          {{ (activity.details.length > 150) ? (activity.details | slice:0:150) + '...' : (activity.details) }}
        </p>
        <a routerLink="/activities/{{activity.id}}" class="btn btn-primary">See more info</a>
      </div>
    </div>
  </div>
</div>
