<h3 class="center">{{ activities ? 'All available activities:' : 'Loading activities...' }}</h3>

<div class="row">
  <div class="nav-wrapper">
    <form>
      <div class="input-field col s8">
        <input #searchTitle
        type="search"
        id="search"
        class="form-control"
        placeholder="e.g. Karting"
        (input)="filterActivitiesByTitle(searchTitle.value)" required />
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>

  <div class="input-field col s2">
    <select (change)="filterActivitiesByTimeType($event.target.value)">
      <option value="all" selected>Anytime</option>
      <option *ngFor="let timeType of ['day', 'night']" [value]="timeType">By {{ timeType }}</option>
    </select>
    <label>Time type filter</label>
  </div>

  <div class="input-field col s2">
    <select (change)="orderActivitiesByPrice($event.target.value)">
      <option value="" disabled selected>Price</option>
      <option value="asc">Price (ascending)</option>
      <option value="desc">Price (descending)</option>
    </select>
    <label>Price filter</label>
  </div>
</div>

<div class="row">
  <div *ngFor="let activity of filteredActivities" class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <a routerLink="/activities/{{ activity.id }}">{{ activity.title }}</a>
        </span>

        <p>{{ activity.subtitle }}</p>
        <p>By {{ activity.time_type }}</p>

        <p *ngIf="activity.details">
          {{ (activity.details.length > 150) ? (activity.details | slice:0:150) + '...' : (activity.details) }}
        </p>

        <div>
          <div *ngIf="activity.getLowestPriceAmount() === -1; else hasPrice">
            Coming soon
          </div>

          <ng-template #hasPrice>
            <span *ngIf="activity.prices.length > 1">from</span>
            {{ activity.getLowestPriceAmount() | currency }}
          </ng-template>
        </div>

        <div *ifInRole="'admin'" class="card-action">
          <button class="btn" (click)="editActivity(activity)">Edit</button>
          <button class="btn" (click)="deleteActivity(activity)">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="fixed-action-btn" *ifInRole="'admin'">
  <a class="btn-floating btn-large" routerLink="/activity/new">
    <i class="large material-icons">add</i>
  </a>
</div>
